body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #171111;
}

/*Global Styling*/
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.container #logo h1{
  font-size: 20px;
}
.container h1, h2{
  color: white;
  font-weight: lighter;
  font-size: 40px;
  padding-top: 10px;
}

.container2{
  margin-top: 3%;
}

/*Header*/
header{
  background-color: #171111;
  color: white;
  padding-top: 30px;
  min-height: 70px;
}

header a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul{
  margin: 0;
  padding: 0;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #logo{
  float: left;
}

header #logo h1{
  margin: 0;
}

header nav{
  float: right;
}


/*<------Case Studies------>*/

/*red case study*/
button.accordion{
  cursor:pointer;
  border:none;
  outline:none;
  width:100%;
  text-align:left;
  background-color:red;
  color:#fff;
  padding:8px;
  margin:0;
  border-radius:4px;
  transition:0.3s;
}

button.accordion:hover{
  background-color:#F2EEEE;
}

button.accordion.active{
  background-color:red;
  color:#000;
  border-radius:4px 4px 0 0;
  margin:0;
 }

div.panel{
  background-color:red;
  color:#000;
  border-radius:0 0 4px 4px;
  overflow:hidden;
  opacity:0;
  max-height:0;
  transition:0.3s;
  padding:0 8px;
  margin:0;
}

div.panel.show{
  opacity:1;
  height: 400px;
  max-height:500px;
  padding:8px;
  margin:0;
}

/*orange case study*/
button.accordion2{
  cursor:pointer;
  border:none;
  outline:none;
  width:100%;
  text-align:left;
  background-color:orange;
  color:#fff;
  padding:8px;
  margin:0;
  border-radius:4px;
  transition:0.3s;
}

button.accordion2:hover{
  background-color:#F2EEEE;
}

button.accordion2.active{
  background-color:orange;
  color:#000;
  border-radius:4px 4px 0 0;
  margin:0;
 }

div.panel2{
  background-color:orange;
  color:#000;
  border-radius:0 0 4px 4px;
  overflow:hidden;
  opacity:0;
  max-height:0;
  transition:0.3s;
  padding:0 8px;
  margin:0;
}

div.panel2.show{
  opacity:1;
  height: 400px;
  max-height:500px;
  padding:8px;
  margin:0;
}

/*yellow case study*/
button.accordion3{
  cursor:pointer;
  border:none;
  outline:none;
  width:100%;
  text-align:left;
  background-color:yellow;
  color:#fff;
  padding:8px;
  margin:0;
  border-radius:4px;
  transition:0.3s;
}

button.accordion3:hover{
  background-color:#F2EEEE;
}

button.accordion3.active{
  background-color:yellow;
  color:#000;
  border-radius:4px 4px 0 0;
  margin:0;
 }

div.panel3{
  background-color:yellow;
  color:#000;
  border-radius:0 0 4px 4px;
  overflow:hidden;
  opacity:0;
  max-height:0;
  transition:0.3s;
  padding:0 8px;
  margin:0;
}

div.panel3.show{
  opacity:1;
  height: 400px;
  max-height:500px;
  padding:8px;
  margin:0;
}

/*Case Study Button*/
.btn{
  background: none;
  padding: 20px 60px;
  border-radius: 10px;
  border-width: 2.5px;
  font-family: Arial;
  color: white;
  font-size: 18px;
  margin: 50px 50px 50px 50px;
}
